<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area riservata</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Header con il logo della palestra e il menu di navigazione -->
    <header>
        <img src="download.jpg" alt="Logo della palestra" id="logo">
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="#">Attività</a></li>
                <li><a href="#">Calendario</a></li>
                <li><a href="#">Contatti</a></li>
				<li><a href="#">Area Riservata</a></li>
            </ul>
        </nav>
    </header>

    <section id="admin">
        <h2>Sezione amministrazione</h2>
        <div id="admin-container">
            <div id="lista-utenti">
                <a class="nero" href="#">Lista utenti</a>
                <p>Visualizza, inserisci e modifica la lista degli utenti iscritti alla palestra!</p>
            </div>
            <div id="lista-abbonamenti">
                <a class="nero" href="#">Lista abbonamenti</a>
                <p>Visualizza, inserisci e modifica la lista degli abbonamenti attivi!</p>
                
            </div>
            <div id="lista-attivita">
                <a class="nero" href="#">Lista attività</a>
                <ul>
                    <li><a class="none" href="#">Visualizza</a></li>
                    <li><a class="none" href="#">Inserisci</a></li>
                    <li><a class="none" href="#">Modifica</a></li>
                    <li><a class="none" href="#">Rimuovi</a></li>
                </ul>
            </div>
            <div id="mio-profilo">
                <a class="nero" href="#">Il mio profilo</a>
                <ul>
                    <li><a class="none" href="#">Modifica profilo</a></li>
                    <li><a class="none" href="#">Modifica password</a></li>
                    <li><a class="none" href="#">Impostazioni</a></li>
                    <li><a class="none" href="#">Esci</a></li>
                </ul>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer-info">
            <h4 id="gym">Space Gym</h4>
            <p id="indirizzi">Via della Palestra, 1 - 00100 Roma</p>
            <p id="contatti">Tel: +39 06 1234567 - Email: info@spacegym.it</p>
            <p></p>
        </div>
        <div class="footer-social">
            <h4>Seguici su</h4>
            <a href="#"><img src="facebook.png" alt="Facebook"></a>
            <a href="#"><img src="twitter.png" alt="Twitter"></a>
            <a href="#"><img src="instagram.png" alt="Instagram"></a>
        </div>
        <div class="footer-credits">
            <p>© 2023 Space Gym. Tutti i diritti riservati.</p>
        </div>
    </footer>
</body>
</html>